@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-cursor {
  box-shadow: 0 0 15px rgba(99, 102, 241, 0.6);
  transition: transform 0.1s ease-out;
}
* {
  transition: background-color 0.5s ease, color 0.5s ease;
}
